<div class="cinepolis-container"></div>
  <h2>Cinepolis - La Capital del Cine</h2>

  <div>
    <label for="cantidadBoletos">Cantidad de boletos:</label>
    <input id="cantidadBoletos" type="number" [(ngModel)]="cantidadBoletos">
  </div>

  <div>
    <label for="tarjetaCineco">¿Usa tarjeta Cinéco?</label>
    <input id="tarjetaCineco" type="checkbox" [(ngModel)]="usaTarjeta">
  </div>

  <button (click)="calcularPrecio()">Calcular Precio</button>

  <div *ngIf="precioFinal > 0">
    <h3>El valor total a pagar es: {{ precioFinal | currency }}</h3>
  </div>
</div>