<div class="container">
  <div class="row">
     <!-- <h1> Chayan del IEVN-1003</h1>


    <hr>

    <app-product-list> </app-product-list>
     -->

     <app-operas-bas></app-operas-bas>
</div>
<!-- 
<h1>Hola Mi gente</h1>

<p>Un video mas mi gente...</p>

<div>
  {{title}}
</div>

<div>la suma de lo exponentes que tienes que sumar pues son {{2+2}} </div>

<div>el doble de 3 es  {{duplicarNumero(3)}} </div>



<h2>Datos de la pelica</h2>
<div>El nombre de la pelicula es :  {{pelicula.nombre}}</div>

<div>El ano de la pelicula es :  {{pelicula.fechadelanzamiento| date: "dd-mm-yy" }}</div>
<div>El precio de la pelicula es: {{pelicula.precio|currency}}</div>

 -->